ATLAS_DATA_BACKEND=snowflake
SNOWFLAKE_CONNECTION_NAME=hackathon
SNOWFLAKE_ROLE=CTOPS_TEAM_ROLE
SNOWFLAKE_WAREHOUSE=CTOPS_WH
SNOWFLAKE_DATABASE=CTOPS_HACKATHON
SNOWFLAKE_SCHEMA=APP
ATLAS_ACTOR=LOCAL_SYNTHETIC_COORDINATOR
